<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/main.css">
    <title>Forum SPA</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg text-body-tertiary mb-5" style="background-color: #66BB6A">
        <div class="container-fluid">
            <a href="#home" class="navbar-brand">Forum</a>
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#createPost" class="nav-link">Create Post</a></li>
                        <li class="nav-item"><a href="#createCategory" class="nav-link">Create Category</a></li>
                        <li class="nav-item"><a href="#profile" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="#register" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="#login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="#logout" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main id="main-content"></main>
    <footer class="navbar sticky-bottom bg-body-secondary">
        <div class="container-fluid">© 2024 Evgeny, Mati, Jegor, Peep</div>
    </footer>
    <script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
