<div class="container">
    <div class="card mb-2 container-fluid">
        <div class="card-header row">
            <h3 class="card-title col-10">Post</h3>
            <input class="btn btn-primary col-1" type="button" value="Like">
            <input class="btn btn-danger col-1" type="button" value="Dislike">
        </div>
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur corporis culpa eaque, error, eveniet explicabo fuga id illum impedit laborum molestias natus, nulla odit pariatur perspiciatis qui saepe temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda blanditiis cumque cupiditate dolor et excepturi iure laboriosam laborum minima officiis, praesentium quaerat quia quis quos repellat sint sit voluptatem.</p>
        </div>
        <div class="card-footer row">
            <span class="badge text-bg-secondary col-1 m-1">Category 1</span>
            <span class="badge text-bg-secondary col-1 m-1">Category 6</span>
            <span class="badge text-bg-secondary col-1 m-1">Category 4</span>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h5 class="card-title">Comments</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="card container-fluid mb-1">
                <div class="card-header row">
                    <h6 class="card-title col-10">Username</h6>
                    <input class="btn btn-primary btn-sm col-1" type="button" value="Like">
                    <input class="btn btn-danger btn-sm col-1" type="button" value="Dislike">
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fugiat id nobis obcaecati officia soluta.</p>
                </div>
            </div>
        </div>
    </div>
</div>
